@font-face{
    font-family: 'GothamRoundedBold';
	src: url('../vendor/GothamRounded-Bold.otf') format('opentype');
}
@font-face{
    font-family: "GothamRoundedBook";
	src: url('../vendor/GothamRoundedBook_21018.otf') format('opentype');
}
@font-face{
    font-family: "GothamRoundedMedium";
	src: url('../vendor/GothamRounded-Medium.otf') format('opentype');
}

p, a, i, li, ul, ol, h1, h2, h3, button{
	margin: 0;
	padding: 0;
	letter-spacing: 3px;
	color: #FFF;
}

$gothamBook: 'GothamRoundedBook', sans-serif;
$gothamMedium: 'GothamRoundedMedium', sans-serif;
$gothamBold: 'GothamRoundedBold', sans-serif;

$darkCyan: #16a085;
$lightgreybg: #f5f6f7;
$greyfont: #9c9d9d;

.corebutton {
	background-color: $darkCyan;
	font: 12px $gothamBold;
	text-transform: uppercase;
	border: none;
	border-radius: 2%;
	padding: 20px 30px 20px 30px;
	margin: 20px 0 20px 0;
}

.sectionbggrey {
	background-color: $lightgreybg;
}

.headercore {
	h2 {
		font: 18px $gothamBold;	
		color: $darkCyan;
		text-transform: uppercase;
	}
	p {
		padding: 35px 0 35px 0;
		color: $greyfont;
		line-height: 22px;
			strong {
				color: #000;
			}
	}
	button {
		margin-bottom: 40px;
	}
	
}

.jumbotron {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-image: url("../images/mainbg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;

	.navi {
	  	display: flex;
		flex: 1;
	  	align-items: flex-start;
	  	text-align: center;

		&__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
			flex: 1;
			li {
				a {
					font: 16px $gothamMedium;
					text-transform: uppercase;
					text-decoration: none;
					&:visited {
						color: inherit;
					}
				}
			}  			
		}
	}

	.header {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1 {
			color: #FFF;
			font: 36px $gothamBold;
			text-transform: uppercase;
			padding: 15px;
			letter-spacing: 10px;
		}

		p {
			font: 12px $gothamMedium;			
		}

	}
	.icons {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: flex-end;


		.fa-twitter, .fa-flickr, .fa-dribbble {
			color: #FFF;
			font-size: 24px;
			margin: 10px;

		}
	}
}


.second {
	display: flex;
	

	&__description {
		padding-top: 120px;
		flex: 1;
	}

	&__phone {
		padding-top: 100px;
		flex: 1.5;
	}
}


.third {
	display: flex;
	flex-direction: row;
	padding-top: 150px;

	&__image {
		flex: 1;

	}

	>.carousel {
		flex: 0.65;
		padding: 15px;

		.counter {
			display: flex;
			flex-direction: row;

		}

		.carousel-indicators {
			display: none;
		}
		.carousel-control {
			position: absolute;
			top: 80%;
			font-size: 30px;
			color: #000;
			opacity: 1;
			background-image: none; 
			outline: none;
			width: 0;
		}

		.left {
			left: 5%;
		}

		.right {
			left: 10%;
		}

	}


}

.fourth {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 50vh;

	.camerainfo {
		display: flex;
		flex: 1;
		flex-direction: column;
		text-align: center;
		padding: 60px 60px 60px 0;

		h2 {
			font: 16px $gothamBold;	
			color: #000;
			text-transform: uppercase;
		}
		p {
			color: $greyfont;
			font: 10px $gothamMedium;
		}
	}

	.image1 {
		flex: 1.4;
	}

	.image2 {
		flex: 1.4;
	}

}