@font-face{
    font-family: 'GothamRoundedBold';
	src: url('../vendor/GothamRounded-Bold.otf') format('opentype');
}

@font-face{
    font-family: "GothamRoundedMedium";
	src: url('../vendor/GothamRounded-Medium.otf') format('opentype');
}

p, a, i, li, ul, ol, h1, h2, h3, button{
	margin: 0;
	padding: 0;
	letter-spacing: 3px;
	color: #FFF;
}

a {
	text-decoration: none;
	&:hover, &:visited {
		color: #FFF;
	}
			
}

$gothamMedium: 'GothamRoundedMedium', sans-serif;
$gothamBold: 'GothamRoundedBold', sans-serif;

$lightCyan: #1abc9c;
$darkCyan: #16a085;
$lightgreybg: #f5f6f7;
$greyfont: #6a6a6a;

.corebutton {
	background-color: $darkCyan;
	font: 12px $gothamBold;
	text-transform: uppercase;
	border: none;
	border-radius: 2%;
	padding: 20px 30px 20px 30px;
	margin: 20px 0 20px 0;
}

.sectionbggrey {
	background-color: $lightgreybg;
}

.headercore {
	h2 {
		font: 18px $gothamBold;	
		color: $darkCyan;
		text-transform: uppercase;
	}
	p {
		padding: 35px 0 35px 0;
		color: $greyfont;
		line-height: 22px;
			strong {
				color: #000;
			}
	}
	button {
		margin-bottom: 40px;
	}
	
}

.jumbotron {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-image: url("../images/mainbg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;

	.navi {
	  	display: flex;
		flex: 1;
	  	align-items: flex-start;
	  	text-align: center;

		&__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
			flex: 1;
			li {
				a {
					font: 16px $gothamMedium;
					text-transform: uppercase;
					text-decoration: none;
					&:visited {
						color: inherit;
					}
				}
			}  			
		}
	}

	.header {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1 {
			color: #FFF;
			font: 36px $gothamBold;
			text-transform: uppercase;
			padding: 15px;
			letter-spacing: 10px;
		}

		p {
			font: 12px $gothamMedium;			
		}

	}
	.icons {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: flex-end;


		.fa-twitter, .fa-flickr, .fa-dribbble {
			color: #FFF;
			font-size: 24px;
			margin: 10px;

		}
	}
}


.second {
	display: flex;
	

	&__description {
		padding-top: 120px;
		flex: 1;
	}

	&__phone {
		padding-top: 100px;
		flex: 1.5;
	}
}


.third {
	display: flex;
	flex-direction: row;
	padding-top: 150px;

	&__image {
		flex: 1;

	}

	#myCarousel-first {
		flex: 0.65;
		padding: 15px;

		.counter {
			display: flex;
			flex-direction: row;
			font: 16px $gothamBold;	
			position: absolute;
			bottom: 19%;
			left: 6%;
		}

		#indicators-first {
			display: none;
		}
		.carousel-control-first {
			position: absolute;
			top: 80%;
			font-size: 30px;
			color: #000;
			opacity: 1;
			background-image: none; 
			outline: none;
			width: 0;
		}

		.left-first {
			left: 5%;
		}

		.right-first {
			left: 10%;
		}

	}
}

.fourth {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 120px 0 120px 0;

	.camerainfo {
		display: flex;
		flex: 1;
		flex-direction: column;
		text-align: center;
		padding: 60px 60px 60px 0;

		h2 {
			padding: 10px;
			font: 16px $gothamBold;	
			color: #000;
			text-transform: uppercase;
		}
		p {
			color: $greyfont;
			font: 10px $gothamMedium;
		}
	}
}


.carousel-inner {
	.active.left { 
		left: -50%; 
	}
	.prev {
		left: -50%; 
	}
	.next { 
		left:  50%; 
	}
}

.carousel-control {
	position: absolute;
	top: -20%;
	font-size: 30px;
	opacity: 1;
	background-image: none; 
	outline: none;
	width: 0;
}
.carousel-control.left {
	color: #000;
	left: 92%;
}

.carousel-control.right {
	color: #000;
	left: 95%;
}	



.fifthy {
	margin: 0;
	flex-direction: column;
	background-image: url("../images/Livellobg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	height: 75vh;
	justify-content: center;
	align-items: center;

	&__signup {	
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		h1 {
			font: 24px $gothamBold;	
			text-transform: uppercase;
		}

		.form {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 30px;
			height: 5vh;
				
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px;
				height: 100%;
				background-color: $darkCyan;
				flex: 1;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;

				.fa-check {
					font-size: 16px;

				}
			}

			input {
				padding: 20px;
				text-transform: uppercase;
				font: 16px $gothamMedium;	
				border: none;		
				height: 100%;
				flex: 5;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;

			}
		}
	}
}

.seventh {
	padding-top: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		font: 20px $gothamBold;
		color: #000;
		text-transform: uppercase;
	}
	p {
		text-align: center;
		font: 12px $gothamMedium;	
		color: $greyfont;		
		text-transform: uppercase;
		padding: 16px;
		line-height: 1.6;
	}
	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 30px;
		height: 5vh;
		padding: 40px 0 120px 0;
		.apple, .android  {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 15px;
			input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  				color: #FFF;
			}

			input {
				border: none;
				background-color: $lightCyan;
				padding: 20px 75px 20px 25px;
				font: 16px $gothamBold;
				text-transform: uppercase;
				color: #FFF;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				height: 100%;
				margin: 0;
			}

			a {
				border: none;
				display: flex;
				margin: 0;
				align-items: center;
				padding: 12px;
				height: 100%;
				background-color: $darkCyan;
				flex: 1;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;

				.fa-apple, .fa-android {
					font-size: 35px;

				}
			}

		}


	}
}				

.footer {
	padding: 40px 0 40px 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	&__paragraphs {
		flex: 1;
		justify-content: flex-start;
		display: flex;
		flex-direction: column;

		p {

			color: $greyfont;
			font: 14px $gothamBold;
			padding: 10px;
			&:first-child {
				text-transform: uppercase;

			}
			strong {
				color: $darkCyan;
			}
		}
	}


}



@media(min-width: 992px) and (max-width: 1199px) {
	
	.footer {
		padding: 40px 10px 40px 10px;
	}

}

@media(min-width: 768px) and (max-width: 991px)  { 

	.jumbotron {
		height: 75vh;
	}

	.second {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		

		&__description {
			padding: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex: 1;
		}

		&__phone {
			padding-top: 0;
			flex: 1;
		}
	}

	.third {
		padding-top: 20px;


		#myCarousel-first {
			flex: 0.65;
			padding: 15px;

			.counter {
				display: flex;
				flex-direction: row;
				font: 16px $gothamBold;	
				position: absolute;
				bottom: 20%;
				left: 8%;
			}

			#indicators-first {
				display: none;
			}
			.carousel-control-first {
				position: absolute;
				top: 80%;
				font-size: 30px;
				color: #000;
				opacity: 1;
				background-image: none; 
				outline: none;
				width: 0;
			}

			.left-first {
				left: 5%;
			}

			.right-first {
				left: 15%;
			}

		}
	}

	.corebutton {
		margin: 15px 0 15px 0;
	}

	.headercore {
		p {
			padding: 15px 0 15px 0;
		}
		button {
			margin-bottom: 30px;
		}
		
	}

	.fourth {
		flex-direction: column;
		padding: 30px 0 30px 0;

		.camerainfo {
			padding: 20px 100px 100px 100px;

		}
	}

	.carousel-control {
		top: -10%;

	}
	.carousel-control.left {
		color: #000;
		left: 5%;
	}

	.carousel-control.right {
		color: #000;
		left: 91%;
	}	

	.fifthy {
		height: 40vh;
	}

	.footer {
	padding: 40px 15px 40px 15px;
	}

}

@media(max-width: 767px) {

	.corebutton {
		margin: 10px 0 10px 0;
		padding: 20px 30px 20px 30px;
	}

	.headercore {
		p {
			padding: 10px 0 10px 0;
		}
		button {
			margin-bottom: 30px;
		}
		
	}

	.jumbotron {
		width: 100%;
		height: 90vh;

		.navi {
		  	display: flex;
			flex: 1;
		  	align-items: flex-start;
		  	text-align: center;

			&__menu {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				list-style-type: none;
				flex: 1;
				li {
					padding: 10px;
				}  			
			}
		}

		.header {
			display: flex;
			flex: 1.2;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			h1 {
				text-align: center;
				color: #FFF;
				font: 28px $gothamBold;
				text-transform: uppercase;
				padding: 10px 2px 10px 2px;
				letter-spacing: 5px;
			}

			p {
				font: 12px $gothamMedium;			
			}

		}
		.icons {
			flex: 0.3;
		}
	}

	.second {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		

		&__description {
			padding: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex: 1;
		}

		&__phone {
			padding-top: 0;
			flex: 1;
			img {
				width: 100%;
			}
		}
	}

	.third {
		padding-top: 25px;
		display: flex;
		flex-direction: column;

		&__image {
			flex: 1;
			justify-content: center;
			display: flex;

		}

		#myCarousel-first {
			flex: 1;
			padding: 10px 10px 75px 10px;
			text-align: center;

			.counter {
				bottom: 19%;
				left: 6%;
			}
		}
	}

	.fourth {
		flex-direction: column;
		padding: 30px 0 30px 0;

		.camerainfo {
			padding: 20px 100px 100px 100px;

		}
	}

	.carousel-control {
		top: -10%;

	}
	.carousel-control.left {
		color: #000;
		left: 5%;
	}

	.carousel-control.right {
		color: #000;
		left: 91%;
	}	

	.fifthy {
		height: 40vh;
	}



	.seventh {
		padding-top: 20px;
		.buttons {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 30px;
			height: 5vh;
			padding: 40px 0 90px 0;
			.apple, .android  {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 25px 0 25px 0;
				padding: 15px;

				input {
					padding: 15px 50px 15px 10px;
				}
				a {
					padding: 12px;
					height: 100%;

					.fa-apple, .fa-android {
						font-size: 25px;

					}
				}

			}
		}
	}	
	.footer {
		padding: 20px 5px 20px 5px;
	}
}